.rounded-red-btn {
  background-color: #cf142b;
  padding: 14px 10px;
  border-radius: 15px;
  font-size: 22px;
  font-weight: bold;
}
.rounded-white-btn {
  background-color: #ffffff;
  padding: 14px 10px;
  border-radius: 15px;
  color: #000000;
  font-size: 22px;
  font-weight: bold;
}
@media only screen and (max-width: 500px) {
  .rounded-white-btn {
    font-size: 16px;
    padding: 8px 18px;
  }
  .square-red-btn,
  .rounded-red-btn {
    font-size: 16px;
    padding: 8px 18px;
  }
}
